<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
</head>
<body>

<h3 th:text="${titulo}"></h3>



<br>

	
	<p th:if="${result}" th:text="${mensaje}"></p>
	
	<div>
		<form th:action="@{/form-cliente}" th:object="${cliente}" method="post">
			<table>
				<tr>
					<td>Nombre</td>
					<td><input type="text" th:field="*{nombre}" required></td>
				</tr>
				
				<tr>
					<td>Apellido</td>
					<td><input type="text" th:field="*{apellido}" required></td>
				</tr>
				
				<tr>
					<td>Numero Telefonico</td>
					<td><input type="text" th:field="*{numeroTelefonico}" required></td>
				</tr>
				
				<tr>
					<td>Email</td>
					<td><input type="text" th:field="*{email}" required></td>
				</tr>
				
				<tr>
					<td>Numero de Cuenta</td>
					<td><input type="text" th:field="*{numeroDeCuenta}" required></td>
				</tr>
				
				<tr>
					<td>Banco</td>
					<td>
					<select th:field="*{banco}">
								<option th:each="banco : ${listaBancos}" 
										th:value="${banco.getId}"
										th:text="${banco.getId() + ' Sucursal: '+banco.getSucursal()}">
								</option>
							</select>
					</td>
				</tr>
				
				<tr>
					<td>Cuenta</td>
					<td>
					<select th:field="*{cuenta}">
								<option th:each="cuenta : ${listaCuentas}" 
										th:value="${cuenta.getIdCuenta()}"
										th:text="${cuenta.getIdCuenta()}">
								</option>
							</select>
					</td>
				</tr>
				
				
			</table>
			<br>
			<input type="submit" value="Registrar cliente">
		</form>
	
	</div>
<br>
<a th:href="@{/form-cliente}">Inicio </a>

</body>
</html>