<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Bando JDGA Corp</title>
</head>
<body>

<h1>Listas BANCO JDGA</h1>
<a th:href="@{/bancos-lista}">Lista Bancos</a>
<br>
<a th:href="@{/clientes-lista}">Lista Cliente</a>
<br>
<a th:href="@{/cuentas-lista}">Lista Cuenta</a>
<br>
<a th:href="@{/tarjetas-lista}">Lista Tarjetas</a>
<br>

<a th:href="@{/empleados-lista}">Lista Empleados</a>
<br>

<a th:href="@{/casa-inversionista-lista}">Lista Casa inversora</a>
<br>

<br>
<br>
<br>




</body>
</html>